<div class="d-flex w-100">
    <button mat-raised-button class="flex-fill m-2" (click)="createNewPlayer()">Nowy</button>
    <button *ngIf="selectedPlayer || tempPlayer" mat-raised-button class="flex-fill m-2" (click)="toggleEdit()">{{ isEditing || isCreating ? 'Zapisz' : 'Edytuj' }}</button>
    <button *ngIf="selectedPlayer" mat-raised-button class="flex-fill m-2" (click)="deletePlayer()">Usuń</button>
    <button *ngIf="selectedPlayer || tempPlayer" mat-raised-button class="flex-fill m-2" (click)="cancel()">Anuluj</button>
</div>
<div *ngIf="selectedPlayer || tempPlayer" class="card" style="min-height: 90vh; max-height: 90vh; overflow-y: auto;">
    <div class="card-body">
        <label class="mat-headline-5">Szczegóły gracza:</label>
        <div class="row pt-1 pb-1 myborder bg-stripped">
            <label class="col-6 col-sm-3 fw-bold">Id:</label>
            <div *ngIf="selectedPlayer" class="col-6 col-sm-9">
                <label>{{ selectedPlayer.id }}</label>
            </div>
        </div>
        <div class="row pt-1 pb-1 myborder d-flex align-items-center">
            <label class="col-6 col-sm-3 fw-bold">Imię:</label>
            <div class="col-6 col-sm-9">
                <label *ngIf="!tempPlayer && selectedPlayer">{{ selectedPlayer.name }}</label>
                <input *ngIf="tempPlayer" type="text" class="form-control" [(ngModel)]="tempPlayer.name">
            </div>
        </div>
        <div class="row pt-1 pb-1 myborder d-flex align-items-center bg-stripped">
            <label class="col-6 col-sm-3 fw-bold">Liczba rozgrywek:</label>
            <div *ngIf="selectedPlayer" class="col-6 col-sm-9">
                <label>{{ selectedPlayer.gamesNumber }}</label>
            </div>
        </div>
        <div class="row pt-1 pb-1 myborder d-flex align-items-center">
            <label class="col-6 col-sm-3 fw-bold">% bycia dobrym:</label>
            <div *ngIf="selectedPlayer" class="col-6 col-sm-9">
                <label>{{ selectedPlayer.goodPercentage?.toFixed(2) }}</label>
            </div>
        </div>
        <div class="row pt-1 pb-1 myborder d-flex align-items-center bg-stripped">
            <label class="col-6 col-sm-3 fw-bold">% wygranych:</label>
            <div *ngIf="selectedPlayer" class="col-6 col-sm-9">
                <label>{{ selectedPlayer.winRatio?.toFixed(2) }}</label>
            </div>
        </div>
    </div>
</div>