<div class="main-container">
    <div class="slider-container" [class.show-detail]="detailsView">
      <div class="slide left">
        <app-players></app-players>
      </div>
      <div class="slide right">
        <app-player></app-player>
      </div>
    </div>
  
    <button mat-fab color="secondary" class="toggle-btn" (click)="toggleView()">
      <mat-icon>{{ detailsView ? 'arrow_back' : 'arrow_forward' }}</mat-icon>
    </button>
</div>
<!-- 
<div class="main-container" tyle="display: flex; flex-direction: column; height: 100%;">
    <div class="slider-container" [class.show-detail]="detailsView">
      <div class="slide left" style="display: flex; flex-direction: column;">
        <app-players></app-players>
      </div>
      <div class="slide right" style="display: flex; flex-direction: column;">
        <app-player></app-player>
      </div>
    </div>
  
    <button mat-fab color="secondary" class="toggle-btn" (click)="toggleView()">
      <mat-icon>{{ detailsView ? 'arrow_back' : 'arrow_forward' }}</mat-icon>
    </button>
</div> -->