<div class="container">
    <div class="d-flex w-100">
        <button mat-raised-button class="flex-fill m-2" (click)="createNewGame()">Nowa</button>
        <button *ngIf="selectedGame || tempGame" mat-raised-button class="flex-fill m-2" (click)="toggleEdit()">{{ isEditing || isCreating ? 'Zapisz' : 'Edytuj' }}</button>
        <button *ngIf="selectedGame"  mat-raised-button class="flex-fill m-2" (click)="deleteGame()">Usuń</button>
        <button *ngIf="selectedGame || tempGame" mat-raised-button class="flex-fill m-2" (click)="cancel()">Anuluj</button>
    </div>
    <div *ngIf="selectedGame || tempGame" class="card" style="min-height: 90vh; max-height: 90vh; overflow-y: auto;">
        <div class="card-body">
            <label class="mat-headline-5">Szczegóły rozgrywki:</label>
            <div class="row pt-1 pb-1 myborder bg-stripped">
                <label class="col-sm-3 fw-bold">Id:</label>
                <div *ngIf="selectedGame" class="col-sm-9">
                    <label>{{ selectedGame.id }}</label>
                </div>
            </div>
            <div class="row pt-1 pb-1 myborder d-flex align-items-center">
                <label class="col-sm-3 fw-bold">Skrypt:</label>
                <div class="col-sm-9">
                    <label *ngIf="!tempGame && selectedGame">{{ selectedGame.script!.name }}</label>
                    <select *ngIf="tempGame" class="form-control" [(ngModel)]="tempGame.script"
                            (ngModelChange)="clearAssignments()">
                        <option [ngValue]="null"></option>
                        <option *ngFor="let script of scripts" [ngValue]="script">{{ script.name }}</option>
                    </select>
                </div>
            </div>
            <div class="row pt-1 pb-1 myborder d-flex align-items-center bg-stripped">
                <label class="col-sm-3 fw-bold">Narrator:</label>
                <div class="col-sm-9">
                    <label *ngIf="!tempGame && selectedGame">{{ selectedGame.storyteller!.name }}</label>
                    <select *ngIf="tempGame" class="form-control" [ngModel]="tempGame.storyteller" 
                    (ngModelChange)="updateStoryteller($event)">
                        <option [ngValue]="null"></option>
                        <option *ngFor="let player of players" [ngValue]="player">{{ player.name }}</option>
                    </select>                
                </div>
            </div>
            <div class="row pt-1 pb-1 myborder d-flex align-items-center">
                <label class="col-sm-3 fw-bold">Legenda:</label>
                <div class="col-sm-9">
                    <label *ngIf="!tempGame && selectedGame">{{ selectedGame.fabled?.name }}</label>
                    <select *ngIf="tempGame" class="form-control" [(ngModel)]="tempGame.fabled">
                        <option [ngValue]="null"></option>
                        <option *ngFor="let fable of availableFables" [ngValue]="fable">{{ fable.name }}</option>
                    </select>                
                </div>
            </div>
            <div class="row pt-1 pb-1 myborder d-flex align-items-center bg-stripped">
                <label class="col-sm-3 fw-bold">Zwyciezcy:</label>
                <div class="col-sm-9">
                    <label *ngIf="!tempGame && selectedGame">{{ selectedGame.goodWon ? 'Dobro' : 'Zło' }}</label>
                    <select *ngIf="tempGame" class="form-control" [(ngModel)]="tempGame.goodWon">
                        <option [value]="true">Dobro</option>
                        <option [value]="false">Zło</option>
                    </select>                
                </div>
            </div>
            <div class="row pt-1 pb-1 myborder d-flex align-items-center">
                <label class="col-sm-3 fw-bold">Liczba graczy:</label>
                <div class="col-sm-9">
                    <label *ngIf="selectedGame">{{ selectedGame.assignments!.length }}</label>
                </div>
            </div>
            <div class="row pt-1 pb-1 myborder d-flex align-items-center bg-stripped">
                <label class="col-sm-3 fw-bold">Data:</label>
                <div class="col-sm-9">
                    <label *ngIf="!tempGame && selectedGame">{{ selectedGame.date | date:'dd/MM/yyyy'  }}</label>
                    <div class="d-flex" *ngIf="tempGame" >
                        <input matInput [matDatepicker]="picker" readonly class="flex-fill form-control" [(ngModel)]="tempGame.date">
                        <div class="d-flex justify-content-end">
                            <mat-datepicker #picker></mat-datepicker>
                            <mat-datepicker-toggle style="zoom: 0.85;" matIconSuffix [for]="picker"></mat-datepicker-toggle>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row pt-1 pb-1 myborder d-flex align-items-center">
                <label class="col-sm-3 fw-bold">Notatki:</label>
                <div class="col-sm-9">
                    <label *ngIf="!tempGame && selectedGame">{{ selectedGame.notes }}</label>
                    <textarea *ngIf="tempGame" class="form-control" [(ngModel)]="tempGame.notes"></textarea>
                </div>
            </div>
            <div class="row pt-1 pb-1 myborder d-flex align-items-center bg-stripped">
                <label class="col-sm-3 fw-bold">Miejsce rozgrywki:</label>
                <div class="col-sm-9">
                    <label *ngIf="!tempGame && selectedGame">{{ selectedGame.place }}</label>
                    <select *ngIf="tempGame" class="form-control" [(ngModel)]="tempGame.place">
                        <option [ngValue]="null"></option>
                        <option *ngFor="let place of places" [ngValue]="place">{{ place }}</option>
                    </select>  
                </div>
            </div>
            <label *ngIf="selectedGame?.script || tempGame?.script" class="mat-headline-6 mt-5">Lista postaci i graczy:</label>
            <div class="card-body">
                <div *ngIf="!tempGame && selectedGame" class="character-list" cdkDropList>
                    <div class="character-item d-flex align-items-center p-2 border"
                        *ngFor="let assignment of selectedGame?.assignments" cdkDrag>
                        <div class="w-50">
                            <label class="d-block">{{ assignment.character!.name }}</label>
                        </div>
                        <div class="w-45">
                            <label class="d-block">{{ assignment.player!.name }}</label>
                        </div>
                        <div class="w-5 d-flex align-items-center">
                            <mat-icon [class.blue]="assignment.good" [class.red]="!assignment.good">circle</mat-icon>
                        </div>
                    </div>
                </div>
                <div *ngIf="tempGame">
                    <div *ngFor="let character of tempGame?.script?.characters" class="character-item d-flex align-items-center p-2 border" cdkDrag>
                        <div class="w-45">
                            <label>{{ character.name }}</label>
                        </div>
                        <div class="w-40">
                            <select class="form-control" 
                                    [ngModel]="getAssignment(character)?.player" 
                                    (ngModelChange)="updateAssignment(character, $event)">
                                <option [ngValue]="null"></option>
                                <option *ngFor="let player of players" [ngValue]="player">{{ player.name }}</option>
                            </select>    
                        </div>
                        <div *ngIf="getAssignment(character)" class="w-15">
                            <select class="form-control" 
                                    [ngModel]="getAssignment(character)?.good"
                                    (ngModelChange)="updateAssignmentGood(character, $event)"
                                    [ngClass]="{'redbg': getAssignment(character)?.good === false, 'bluebg': getAssignment(character)?.good}">>
                                <option [ngValue]=true>Dobro</option>
                                <option [ngValue]=false>Zło</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <label *ngIf="tempGame?.script" class="mat-headline-6" >Podróżnicy: </label>
            <div *ngIf="tempGame?.script" class="card-body">
                <div *ngFor="let character of availableTravellers" class="character-item d-flex align-items-center p-2 border" cdkDrag>
                    <div class="w-45">
                        <label>{{ character.name }}</label>
                    </div>
                    <div class="w-40">
                        <select class="form-control" 
                                [ngModel]="getAssignment(character)?.player" 
                                (ngModelChange)="updateAssignment(character, $event)">
                            <option [ngValue]="null"></option>
                            <option *ngFor="let player of players" [ngValue]="player">{{ player.name }}</option>
                        </select>    
                    </div>
                    <div *ngIf="getAssignment(character)" class="w-15">
                        <select class="form-control" 
                                [ngModel]="getAssignment(character)?.good"
                                (ngModelChange)="updateAssignmentGood(character, $event)"
                                [ngClass]="{'redbg': getAssignment(character)?.good === false, 'bluebg': getAssignment(character)?.good}">>
                            <option [ngValue]=true>Dobro</option>
                            <option [ngValue]=false>Zło</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="m-5"></div>
        </div>
    </div>
</div>