<!-- Game Information Table
<div *ngIf="game" class="card">
    <div class="card-body">
        <h3 class="card-title">Game Information</h3>
        <table class="table table-bordered table-striped">
            <thead class="thead-dark">
            <tr>
                <th>Id</th>
                <th>Skrypt</th>
                <th>Narrator</th>
                <th>Zwycięzca</th>
                <th>Data</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><strong>Game ID</strong></td>
                <td>{{ game.id }}</td>
            </tr>
            <tr>
                <td><strong>Script Name</strong></td>
                <td>{{ game.script.name }}</td>
            </tr>
            <tr>
                <td><strong>Storyteller</strong></td>
                <td>{{ game.storyteller.name }}</td>
            </tr>
            <tr>
                <td><strong>Good Won</strong></td>
                <td>{{ game.goodWon ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <td><strong>Date</strong></td>
                <td>{{ game.date }}</td>
            </tr>
            </tbody>
        </table>
      
        <h5>Players:</h5>
        <ul class="list-group">
            <li *ngFor="let player of gameData.players" class="list-group-item">
            {{ player.player.name }} - {{ player.character.name }}
            </li>
        </ul>
    </div>
</div> -->
gem worksxdd