<div class="me-5">
    <p class="mat-headline-1 unifrakturmaguntia-regular row d-flex flex-column align-items-center justify-content-center text-center mt-5">Witaj w Grimlogu</p>
    <div class="row d-flex flex-column align-items-center justify-content-center text-center mx-1">
        <p class="mat-headline-3 jacquard-24-regular">Systemie, który został stworzony w celu archiwizacji rozgrywek w Blood on the Clocktower.</p>
        <p class="mat-headline-3 jacquard-24-regular">Zachęcam do dodawania tutaj rozgrywek, postaci, skryptów, nowych graczy, a przede wszystkim do grania.</p>
        <p class="mat-headline-2 jacquard-24-regular">Kliknij w jeden z przycisków na górze ekranu i zaczynamy!</p>
    </div>
</div>