<div class="row d-flex flex-column align-items-center justify-content-center text-center m-5">
    <p class="mat-headline-1 unifrakturmaguntia-regular">Witaj Bloodowiczu!</p>
    <p class="mat-headline-3 jacquard-24-regular">Witaj w Grimlogu.</p>
    <p class="mat-headline-3 jacquard-24-regular">Systemie, który został stworzony w celu archiwizacji rozgrywek w Blood on the Clocktower.</p>
    <p class="mat-headline-3 jacquard-24-regular">Zachęcam do dodawania tutaj rozgrywek, postaci, skryptów, nowych graczy, a przede wszystkim do grania.</p>
    <p class="mat-headline-2 jacquard-24-regular">Kliknij w jeden z przycisków na górze ekranu i zaczynamy!</p>
    <p class="mat-headline-4 jacquard-24-regular">Ale fikuśna czcionka, podoba mi sie, nic mnie nie obchodzi że tekst jest nieczytelny</p>
    <p style="color: lightgray;">v1.4 by Czachodym</p>
</div>