<div class="d-flex w-100">
    <button mat-raised-button class="flex-fill m-2" (click)="createNewCharacter()">Nowy</button>
    <button *ngIf="selectedCharacter || tempCharacter" mat-raised-button class="flex-fill m-2" (click)="toggleEdit()">{{ isEditing || isCreating ? 'Zapisz' : 'Edytuj' }}</button>
    <button *ngIf="selectedCharacter" mat-raised-button class="flex-fill m-2" (click)="deleteCharacter()">Usuń</button>
    <button *ngIf="selectedCharacter || tempCharacter" mat-raised-button class="flex-fill m-2" (click)="cancel()">Anuluj</button>
</div>
<div *ngIf="selectedCharacter || tempCharacter" class="card" style="min-height: 90vh; max-height: 90vh; overflow-y: auto;">
    <div class="card-body">
        <label class="mat-headline-5">Szczegóły postaci:</label>
        <div class="row pt-1 pb-1 myborder bg-stripped">
            <label class="col-5 col-sm-4 fw-bold">Id:</label>
            <label *ngIf="selectedCharacter" class="col-7 col-sm-8">{{ selectedCharacter.id }}</label>
        </div>
        <div class="row pt-1 pb-1 myborder d-flex align-items-center">
            <label class="col-5 col-sm-4 fw-bold">Nazwa:</label>
            <div class="col-7 col-sm-8">
                <label *ngIf="!tempCharacter && selectedCharacter">{{ selectedCharacter.name }}</label>
                <input *ngIf="tempCharacter" type="text" class="form-control" [(ngModel)]="tempCharacter.name">
            </div>
        </div>
        <div class="row pt-1 pb-1 myborder d-flex align-items-center bg-stripped">
            <label class="col-5 col-sm-4 fw-bold">Przynależność:</label>
            <div class="col-7 col-sm-8">
                <label *ngIf="!tempCharacter && selectedCharacter">{{ selectedCharacter.alignment }}</label>
                <p-select *ngIf="tempCharacter" [options]="alignments" [(ngModel)]="tempCharacter.alignment" [filter]="true"></p-select>     
            </div>
        </div>
        <div class="row pt-1 pb-1 myborder d-flex align-items-center">
            <label class="col-5 col-sm-4 fw-bold">Max liczba wystąpień na start:</label>
            <div class="col-7 col-sm-8">
                <label *ngIf="!tempCharacter && selectedCharacter">{{ selectedCharacter.maxStartNumber }}</label>
                <p-inputnumber *ngIf="tempCharacter" [(ngModel)]="tempCharacter.maxStartNumber" [min]="1" [max]="10" inputId="integeronly"/>
            </div>
        </div>
        <div class="row pt-1 pb-1 myborder d-flex align-items-center bg-stripped">
            <label class="col-5 col-sm-4 fw-bold">Opis:</label>
            <div class="col-7 col-sm-8">
                <label *ngIf="!tempCharacter && selectedCharacter">{{ selectedCharacter.description }}</label>
                <textarea *ngIf="tempCharacter" class="form-control" [(ngModel)]="tempCharacter.description"></textarea>
            </div>
        </div>
        <div class="row pt-1 pb-1 myborder d-flex align-items-center">
            <label class="col-5 col-sm-4 fw-bold">Wiki:</label>
            <div class="col-7 col-sm-8">
                <label *ngIf="!tempCharacter && selectedCharacter" style="max-width: 100%;">{{ selectedCharacter.linkToWiki }}</label>
                <input *ngIf="tempCharacter" type="text" class="form-control" [(ngModel)]="tempCharacter.linkToWiki">
            </div>
        </div>
        <label *ngIf="selectedCharacter && !tempCharacter" class="mat-headline-5 mt-5">Statystyki postaci:</label>
        <div *ngIf="selectedCharacter && !tempCharacter && selectedCharacter.characterDetails">
            <div class="row pt-1 pb-1 myborder d-flex align-items-center bg-stripped">
                <label class="col-5 col-sm-4 fw-bold">Liczba rozgrywek:</label>
                <div class="col-7 col-sm-8">
                    <label>{{ selectedCharacter.characterDetails.gamesNumber }}</label>
                </div>
            </div>
            <div class="row pt-1 pb-1 myborder d-flex align-items-center">
                <label class="col-5 col-sm-4 fw-bold">Liczba wygranych:</label>
                <div class="col-7 col-sm-8">
                    <label>{{ selectedCharacter.characterDetails.wonGamesNumber }}</label>
                </div>
            </div>
            <div class="row pt-1 pb-1 myborder d-flex align-items-center bg-stripped">
                <label class="col-5 col-sm-4 fw-bold">% wygranych:</label>
                <div class="col-7 col-sm-8">
                    <label>{{ selectedCharacter.characterDetails.winRatio.toFixed(2) }}</label>
                </div>
            </div>
            <label class="mt-5 mat-headline-5">Statystyki w skryptach:</label>
            <p-table [value]="selectedCharacter!.characterDetails!.characterInScriptsDetails!" stripedRows size="small">
                <ng-template #header>
                    <tr>
                        <th pSortableColumn="scriptName">
                            <div class="table-header">
                                <div>Nazwa skryptu</div>
                                <p-sortIcon field="scriptName"/>
                                <p-columnFilter type="text" field="scriptName" display="menu"></p-columnFilter>
                            </div>
                        </th>                        
                        <th pSortableColumn="gamesNumber">
                            <div class="table-header">
                                <div>Liczba rozgrywek</div>
                                <p-sortIcon field="gamesNumber"/>
                                <p-columnFilter type="text" field="gamesNumber" display="menu"></p-columnFilter>
                            </div>
                        </th> 
                        <th pSortableColumn="wonGamesNumber">
                            <div class="table-header">
                                <div>Liczba wygranych</div>
                                <p-sortIcon field="wonGamesNumber"/>
                                <p-columnFilter type="text" field="wonGamesNumber" display="menu"></p-columnFilter>
                            </div>
                        </th>                        
                        <th pSortableColumn="winRatio">
                            <div class="table-header">
                                <div>% wygranych</div>
                                <p-sortIcon field="winRatio"/>
                                <p-columnFilter type="text" field="winRatio" display="menu"></p-columnFilter>
                            </div>
                        </th> 
                    </tr>
                </ng-template>
                <ng-template #body let-scriptDetails>
                    <tr>
                        <td>{{ scriptDetails.scriptName }}</td>
                        <td>{{ scriptDetails.gamesNumber }}</td>
                        <td>{{ scriptDetails.wonGamesNumber }}</td>
                        <td>{{ scriptDetails.winRatio.toFixed(2) }}</td>
                    </tr>
                </ng-template>
            </p-table> 
        </div>
    </div>
</div>