<div class="card">
    <div class="card-body">
        <label class="mat-headline-5">Lista rozgrywek:</label>
        <div *ngIf="games" class="table-responsive" style="min-height: 88vh; max-height: 88vh; overflow-y: auto;">
            <table class="table table-bordered table-striped table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th>Id</th>
                        <th>Skrypt</th>
                        <th>Narrator</th>
                        <th>Liczba graczy</th>
                        <th>Zwycięzcy</th>
                        <th>Data</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let game of games" (click)="selectGame(game)">
                        <td>{{ game.id }}</td>
                        <td>{{ game.script?.name }}</td>
                        <td>{{ game.storyteller?.name }}</td>
                        <td>{{ game.assignments?.length }}</td>
                        <td [ngStyle]="{
                            'background-color': game.goodWon ? '#004EA1' : '#AF1218',
                            'color': 'white'}">
                            {{ game.goodWon ? 'DOBRO' : 'ZŁO'}}</td>
                        <td>{{ game.date | date:'dd/MM/yyyy'  }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>