<div class="row d-flex flex-column align-items-center justify-content-center text-center">
    <p class="mat-headline-1 unifrakturmaguntia-regular">Witaj Bloodowiczu!</p>
    <p class="mat-headline-3 jacquard-24-regular">Witaj we wspaniałym systemie archiwizacji rozgrywek w blooda.</p>
    <p class="mat-headline-3 jacquard-24-regular">Znajdują się wiele wspaniałych rzeczy, takich jak: statystyki.</p>
    <p class="mat-headline-5 jacquard-24-regular">Może strona wygląda źle i działa jeszcze gorzej, ale za to długo nad nią pracowałem.</p>
    <p class="mat-headline-3 jacquard-24-regular">Jak przyjmie się ciepło, albo chodziać letnio, to dodam tutaj różne wykresy i inne wodotryski.</p>
    <p class="mat-headline-3 jacquard-24-regular">Zachęcam do dodawania tutaj rozgrywek, postaci, skryptów, a także nowych graczy</p>
    <p class="mat-headline-2 jacquard-24-regular">Kliknij w jeden z przycisków na górze ekranu i zaczynamy!</p>
    <p class="mat-headline-4 jacquard-24-regular">Ale fikuśna czcionka, podoba mi sie, nic mnie nie obchodzi że tekst jest nieczytelny</p>
    <p style="color: lightgray;">v1.0 by Czachodym</p>
</div>