<div class="card">
    <div class="card-body">
        <label class="mat-headline-5">Lista skryptów:</label>
        <div *ngIf="scriptHeaders" style="height: 88vh;">
            <p-table [value]="scriptHeaders" stripedRows sortField="id" selectionMode="single" (onRowSelect)="selectScript($event)"
                [scrollable]="true" scrollHeight="88vh">
                <ng-template #header>
                    <tr>
                        <th pSortableColumn="id">
                            <div class="table-header-id">
                                <div class="mb-2">Id</div>
                                <p-sortIcon field="id"/>
                            </div>
                        </th>
                        <th pSortableColumn="scriptName">
                            <div class="table-header">
                                <div>Nazwa</div>
                                <p-sortIcon field="scriptName"/>
                                <p-columnFilter type="text" field="scriptName" display="menu"></p-columnFilter>
                            </div>
                        </th>
                        <th pSortableColumn="gamesNumber">
                            <div class="table-header">
                                <div>Liczba ryzgrywek</div>
                                <p-sortIcon field="gamesNumber"/>
                                <p-columnFilter type="text" field="gamesNumber" display="menu"></p-columnFilter>
                            </div>
                        </th>
                    </tr>
                </ng-template>
                <ng-template #body let-scriptHeader>
                    <tr [pSelectableRow]="scriptHeader">
                        <td>{{ scriptHeader.id }}</td>
                        <td>{{ scriptHeader.scriptName }}</td>
                        <td>{{ scriptHeader.gamesNumber }}</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>