html, body {
    height: 100%;
    margin: 0;
}

/* Main container */
.main-container {
    position: relative;
    width: 100%;
    overflow-x: hidden;
}

/* Horizontal slider layout */
.slider-container {
    display: flex;
    width: 200%;
    transition: transform 0.4s ease;
  }

/* Individual slide views */
.slide {
    width: 50%; /* Ensure slide takes full viewport width */
    flex-shrink: 1;
    overflow-y: auto;
    padding-top: 0.5rem;
}

/* Ensure app-game fits inside the slide (remove overflow) */
.app-game {
    width: 100%; /* Make app-game take full width of the slide */
    overflow-x: auto; /* Allow horizontal scrolling inside the app-game if needed */
}

/* Slide detail view in from right */
.slider-container.show-detail {
    transform: translateX(-50%);
}

/* Floating mini-fab toggle button */
.toggle-btn {
    position: fixed;
    bottom: -3%;
    right: 10px;
    transform: translateY(-50%);
    z-index: 1000;
}

/* Hide slider on large screens and show both views */
@media (min-width: 1200px) {
    .slider-container {
        transform: none !important;
        width: 100% !important;
    }

    /* .slide {
        height: 91vh;
    } */

    .right {
        padding-left: 0.5rem;
    }
    
    .left {
        padding-right: 0.5rem;
    }

    .toggle-btn {
        display: none; /* Hide toggle button on desktop */
    }
}
