:root {
    --p-togglebutton-checked-background: var(--blue) !important;
    --p-togglebutton-background: var(--red) !important;
    --p-togglebutton-hover-background: var(--red) !important;
    --p-togglebutton-hover-color: white !important;
    --p-togglebutton-color: white !important;
    --p-togglebutton-checked-color: white !important;
}

.table-header {
    min-width: 100px;
}

.big-table-header {
    min-width: 150px;
}


.table-header-id {
    min-width: 20px;
}

.table-header > div,
.table-header-id > div {
    width: 100%;
}