
:root {
    --p-togglebutton-checked-background: #004EA1 !important;
    --p-togglebutton-background: #AF1218 !important;
    --p-togglebutton-hover-background: #AF1218 !important;
    --p-togglebutton-hover-color: white !important;
    --p-togglebutton-color: white !important;
    --p-togglebutton-checked-color: white !important;
}

