<div class="d-flex w-100">
    <button mat-raised-button class="flex-fill m-2" (click)="createNewAchievement()">Nowe</button>
    <button *ngIf="selectedAchievement || tempAchievement" mat-raised-button class="flex-fill m-2" (click)="toggleEdit()">{{ isEditing || isCreating ? 'Zapisz' : 'Edytuj' }}</button>
    <button *ngIf="selectedAchievement" mat-raised-button class="flex-fill m-2" (click)="deleteAchievement()">Usuń</button>
    <button *ngIf="selectedAchievement || tempAchievement" mat-raised-button class="flex-fill m-2" (click)="cancel()">Anuluj</button>
</div>
<div *ngIf="selectedAchievement || tempAchievement" class="card" style="min-height: 90vh; max-height: 90vh; overflow-y: auto;">
    <div class="card-body">
        <label class="mat-headline-5">Szczegóły osiągnięcia:</label>
        <div class="row pt-1 pb-1 myborder bg-stripped">
            <label class="col-5 col-sm-4 fw-bold">Id:</label>
            <label *ngIf="selectedAchievement" class="col-7 col-sm-8">{{ selectedAchievement.id }}</label>
        </div>
        <div class="row pt-1 pb-1 myborder d-flex align-items-center">
            <label class="col-5 col-sm-4 fw-bold">Nazwa:</label>
            <div class="col-7 col-sm-8">
                <label *ngIf="!tempAchievement && selectedAchievement">{{ selectedAchievement.name }}</label>
                <input *ngIf="tempAchievement" type="text" class="form-control" [(ngModel)]="tempAchievement.name">
            </div>
        </div>
        <div class="row pt-1 pb-1 myborder d-flex align-items-center bg-stripped">
            <label class="col-5 col-sm-4 fw-bold">Opis:</label>
            <div class="col-7 col-sm-8">
                <label *ngIf="!tempAchievement && selectedAchievement">{{ selectedAchievement.description }}</label>
                <input *ngIf="tempAchievement" type="text" class="form-control" [(ngModel)]="tempAchievement.description">
            </div>
        </div>
        <div class="row pt-1 pb-1 myborder d-flex align-items-center">
            <label class="col-5 col-sm-4 fw-bold">Liczba zdobyć:</label>
            <div class="col-7 col-sm-8">
                <label *ngIf="!tempAchievement && selectedAchievement">{{ selectedAchievement.achievementDetails?.accomplishmentNumber }}</label>
            </div>
        </div>
        <label *ngIf="!tempAchievement && selectedAchievement" class="mt-5 mat-headline-5">Gracze, którzy zdobyli osiągnięcie:</label>
        <div *ngIf="!tempAchievement && selectedAchievement">
            <p-table [value]="selectedAchievement!.achievementDetails!.achievementPlayerDetails!" stripedRows sortField="characterName" size="small"
                [scrollable]="true" scrollHeight="30vh">
                <ng-template #header>
                    <tr>
                        <th pSortableColumn="name">
                            <div class="table-header">
                                <div>Imię</div>
                                <p-sortIcon field="name"/>
                                <p-columnFilter type="text" field="name" display="menu"></p-columnFilter>
                            </div>
                        </th> 
                        <th pSortableColumn="date">
                            <div class="table-header">
                                <div>Data zdobycia</div>
                                <p-sortIcon field="date"/>
                                <p-columnFilter type="text" field="date" display="menu"></p-columnFilter>
                            </div>
                        </th>                        
                    </tr>
                </ng-template>
                <ng-template #body let-playerAchievementDetails>
                    <tr>
                        <td><a [routerLink]="['/players', playerAchievementDetails.id]" style="text-decoration: none;">{{ playerAchievementDetails.name }}</a></td>
                        <td>{{ playerAchievementDetails.date }}</td>
                    </tr>
                </ng-template>
            </p-table> 
        </div>
        <label class="mat-headline-5 mt-5">Chwilowo nie wiem co tu dodać, ale zobaczymy jak mechanika osiągnięć będzie hulać w praktyce, to się pomyśli.</label>
    </div>
</div>